@font-face{
    font-family: "LeagueGothic";
    src: url(LeagueGothic-Regular.otf);
}
@font-face{
    font-family: "OpenSans";
    src: url(OpenSans-Regular.ttf);
}
@font-face{
    font-family: "Georgia";
    src: url(georgiai.ttf);
}